<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/account.css">
    <title>Account</title>
</head>
<body>
    <nav class="navbar">
        <img src="icons/home_app_logo.svg" alt="Home button" >
        <ul class="navbar--buttons">
            <li class="navbar--button">Home</li>
            <li class="navbar--button">Preferences</li>
            <li class="navbar--button"><img src="icons/account_circle.svg" alt="Account icon" ></li>
        </ul>
    </nav>
    <section class="content">
            <div class="content--email">
                <p>Email:</p> 
                <input type="email" readonly>
            </div>
            <div class="content--resetPass">
                <p>Reset password:</p>
                <form action="/account/account.html" class="content--resetPass--form">
                    <label for="currentPass">Current password</label>
                    <input type="password" id="currentPass" name="actualpass">
                    <label for="newPass">New password</label>
                    <input type="password" id="newPass" name="password1">
                    <label for="nrePass2">Repeat new password</label>
                    <input type="password" id="nrePass2" name="password2">
                    <button>reset</button>
                </form>
            </div>
    </section>
</body>
</html>