<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../views/stylesheets/homepage.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <img src="../views/icons/home_app_logo.svg" alt="Home button" >
        <ul class="navbar--buttons">
            <li class="navbar--button">Home</li>
            <li class="navbar--button">Preferences</li>
            <li class="navbar--button"><img src="../views/icons/account_circle.svg" alt="Account icon" ></li>
        </ul>
    </nav>
    <section class="content">
        <h1 class="content--title">
            Dishes based on your preferences:
        </h1>
        <div class="content--box"></div>
    </section>
    <input class="shoppingList">
    <script src="../views/scripts/homepage.js"></script>
</body>
</html>