<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
    <link rel="stylesheet" type="text/css" href="responsive/login.css">
    <title>Login</title>
  </head>
  <body>
    <div class="title-container">
        <h1>Culinary Preferences Organizer</h1>
    </div>
    
    <div class="login-container">
        <h2>Login</h2>
        <form action="homepage.html" method="post">
            <input type="text" name="user_name" placeholder="Username/Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <p> Don't have an account? <a href="signup.html">Sign up now!</a> </p>
            <p> Forgot your password? <a href="reset-password.html">Reset password</a> </p>
            <p><input type="checkbox" id="rememberme" name="rememberme" value="no">
            <label for="rememberme"> Remember me?</label></p>
            <input type="submit" value="Login">
        </form>
    </div>
    <p>Photo by <a href="https://unsplash.com/@amseaman?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Andrew Seaman</a> on <a href="https://unsplash.com/photos/a-blurry-photo-of-a-bunch-of-lights-J65VbXRtgrU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
  </body>
</html>