<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" href="stylesheets/personalization.css">
  <link rel="stylesheet" href="responsive/personalization.css">
  <title>Personalize your account</title>
</head>
<body>
    <div class="title-container">
        <h1>Welcome! Personalize you profile</h1>
      </div>
    <div class="preference-container">
        <p>Select your culinary preferences:</p>
        <form action="homepage.html" method="post">
            <div class="preference-grid">
                <div class="box vegan">
                   <label>
                      <input type="checkbox" value="no"><span>Vegan</span>
                   </label>
                </div>
                
                <div class="box dairy">
                   <label>
                      <input type="checkbox" value="no"><span>Dairy</span>
                   </label>
                </div>
                
                <div class="box meat">
                   <label>
                      <input type="checkbox" value="no"><span>Meat</span>
                   </label>
                </div>
                
                <div class="box seafood">
                   <label>
                      <input type="checkbox" value="no"><span>Seafood</span>
                   </label>
                </div>
                
                <div class="box fruits">
                   <label>
                      <input type="checkbox" value="no"><span>Fruits</span>
                   </label>
                </div>
                
                <div class="box vegetarian">
                   <label>
                      <input type="checkbox" value="no"><span>Vegetarian</span>
                   </label>
                </div>
                
                  <div class="box junk">
                   <label>
                      <input type="checkbox" value="no"><span>Junk</span>
                   </label>
                </div>
                
                  <div class="box pasta">
                   <label>
                      <input type="checkbox" value="no"><span>Pasta</span>
                   </label>
                </div>
                
                </div>
        <input type="submit" value="Next">
        </form>
    </div>
    <p>Photo by <a href="https://unsplash.com/@amseaman?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Andrew Seaman</a> on <a href="https://unsplash.com/photos/a-blurry-photo-of-a-bunch-of-lights-J65VbXRtgrU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a></p>
</body>
</html>
