body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    background-color: white;
    opacity: 0.8;
    background-image: radial-gradient(darkorange 0.5px, white 0.5px);
    background-size: 10px 10px;
}

.navbar {
    height: 4em;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6em;
    position: sticky;
}

.navbar--buttons {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar--button {
    padding-left: 3em;
    color: white;
}

.content {
    overflow: hidden;
    padding: 3em;
    height: 100%;
    margin-bottom: 6em;
}

.content--box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;
}

.content--box--inner {
    height: 10em;
    width: 10em;
    margin: 1em;
    background-color: orange;
    border: 2px;
    border-color: darkgray;
}

.shoppingList{
    bottom: -10px;
    align-self: center;
    position: absolute;
    height: 7em;
    width: 40em;
    max-width: 60%;
    border: 1px solid darkgray;
    border-radius: 10px;
}