/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff8f5;
    background-size: cover;
}

h1 {
    font-size: 2em;
    color: darkorange;
    text-align: center;
}

/* Navbar Styles */
.navbar {
    height: 4em;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo, .myAccount {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.navbar--buttons {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar--button .button {
    padding-left: 1em;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}

/* Content Styles */
.content {
    overflow: hidden;
    padding: 3em 1em;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content--title {
    margin: 0;
    margin-bottom: 1em;
    font-size: 2em;
    color: darkorange;
    text-align: center;
    height: 2em;
}

.left, .right {
    flex: 1;
    padding: 10px;
    min-width: 300px;
    height: 80%;
    overflow: hidden;
}

/* Content Box Styles */
.content--box {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100%;
    justify-content: space-around;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
}

.content--box--inner {
    position: relative;
    height: 10em;
    width: 10em;
    margin: 1em;
    background-color: orange;
    border: 2px solid darkgray;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
}

.content--box--inner img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.content--box--inner:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Overlay Button Styles */
.overlay-button {
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.overlay-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Overlay Container Styles */
.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Shopping List Styles */
.shoppingList {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    max-width: calc(100% - 40px);
    height: 7em;
    border: 1px solid darkgray;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
    z-index: 1001;
}

.shoppingList--item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-name {
    flex: 1;
}

.item-quantity {
    flex: 0;
    padding-left: 10px;
}

.delete-form {
    margin: 0;
    padding: 0;
}

.delete-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.delete-button img {
    width: 20px;
    height: 20px;
}

.shoppingList-form {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Message Styles */
.successMessage, .errorMessage {
    font-size: 1em;
    padding: 10px 0;
}

.successMessage {
    color: green;
}

.errorMessage {
    color: red;
}

/* Add to List Button Styles */
.add-to-list-button {
    margin-top: 20px;
    background-color: darkorange;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-list-button:hover {
    background-color: orange;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {

    .navbar {
        flex-direction: row;
        padding: 0;
    }

    .button {
        padding: 1em;
    }

    .navbar--buttons {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: darkorange;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
    }

    .menu-icon {
        display: flex;
        padding: 1em;
    }

    .navbar--buttons.active {
        display: flex;
        justify-content: space-around;
        top: 4em;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    .navbar--button .button {
        padding: 10px 0;
        margin-top: 0;
        padding-left: 0;
        color: white;
        font-size: 1.5em;
        text-align: center;
    }

    .content {
        padding: 1em;
        overflow-y: auto;
    }

    .left, .right {
        overflow: hidden;
        height: 100%;
    }

    .split {
        flex-direction: column;
    }

    .shoppingList {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        max-width: 90%;
        height: auto;
        border-radius: 0;
        padding: 1em;
        z-index: 1001;
    }
}
