/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    background-color: #fff8f5;
    background-size: cover;
}

h2 {
    text-align: center;
    color: darkorange;
}

/* Navbar Styles */
.navbar {
    height: 4em;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo, .myAccount {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.navbar--buttons {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar--button .button {
    padding-left: 1em;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
}

.button:hover {
    text-decoration: underline;
}

/* Content Styles */
.content {
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-foods {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    text-align: center;
    line-height: 150px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked + label {
    background-color: lightsalmon;
}

/* Modal Styles */
.circle-button {
    background-color: darkorange;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    cursor: pointer;
}

.circle-button:hover {
    background-color: orange;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 768px) {

    .navbar {
        flex-direction: row;
        padding: 0;
    }

    .navbar--buttons {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: darkorange;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
    }


    ul {
        padding: 0;
        margin: 0;
    }

    a {
        padding: 0;
    }

    .menu-icon {
        display: flex;
        margin-right: 1em;
    }

    .navbar--buttons.active {
        display: flex;
        justify-content: space-around;
        top: 4em;
    }

    .button {
        margin-left: 1em;
        margin-top: 0;
        padding-left: 0;
        color: white;
        font-size: 1.5em;
        text-align: center;
    }

    .content {
        margin: 1em;
        padding: 1em;
    }

    .favorite-foods {
        justify-content: center;
    }

    .modal-content {
        width: 90%;
    }

    .button-container {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
    }

    .button-container button {
        margin: 10px 0;
    }
}
