body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../dots2.jpg");
    background-size: cover;
}

.title-container {
    text-align: center;
    margin-bottom: auto;
    margin-top: 5px;
}

.title-container h1 {
    color: white;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    margin-bottom: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container input[type="text"],
.login-container input[type="password"]{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

.login-container input[type="checkbox"] {
    margin-right: 5px;
}

.login-container input[type="submit"] {
    width: 100%;
    background-color: orange;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.login-container input[type="submit"]:hover {
    background-color: darkorange;
}

.login-container p {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.login-container p a {
    color: orange;
    text-decoration: none;
    font-size: 18px;
}

.login-container p a:hover {
    text-decoration: underline;
}
