body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    background-image: url("../dots1.png");
    background-size: cover;
}

.navbar {
    height: 4em;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6em;
    position: sticky;
}

.navbar--buttons {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar--button {
    padding-left: 3em;
    color: white;
}

.content {
    margin: 2em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content--pref {
    margin-bottom: 2em;
    max-width: 20em;
    min-width: 15em;
    width: 30%;
}

.content--pref--items{
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

h2 {
    margin: 0px;
    margin-bottom: 0.5em;
}