<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Preferences Organizer</title>
    <link rel="stylesheet" href="../views/user/stylesheets/index.css">
    <link rel="stylesheet" href="../views/user/responsive/index.css">
</head>
<body>
    <div class="container">
        <div class="split left">
            <div class="centered">
                <img src="../views/user/icons/logo.jpeg" alt="logo">
              <h2>Culinary Preferences Ogranizer</h2>
              <p>Your one-stop solution for managing your culinary preferences!</p>
            </div>
          </div>
          
          <div class="split right">
            <div class="centered">
              <h2>Welcome!</h2>
              <p>Get started by logging in or signing up..</p>
              <div class="buttons">
                <button onclick="window.location.href='culinary_controller.php?action=login'">Log In</button>
                <button onclick="window.location.href='culinary_controller.php?action=signup'">Sign Up</button>
              </div>
            </div>
          </div>
    </div>
</body>
</html>
