<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" href="../views/user/stylesheets/personalization.css">
  <link rel="stylesheet" href="../views/user/responsive/personalization.css">
  <title>Personalize your account</title>
</head>
<body>
    <div class="title-container">
        <h1>Welcome! Personalize you profile</h1>
      </div>
    <div class="preference-container">
        <p>Select your first culinary preferences:</p>
        <form action="culinary_controller.php" method="post">
         <input type="hidden" name="action" value="pref2">
            <div class="preference-grid">
                <div class="box vegan">
                   <label>
                      <input type="checkbox" name="preferences[]" value="Vegan"><span>Vegan</span>
                   </label>
                </div>
                
                <div class="box dairy">
                   <label>
                      <input type="checkbox" name="preferences[]" value="Dairy"><span>Dairy</span>
                   </label>
                </div>
                
                <div class="box meat">
                   <label>
                      <input type="checkbox" name="preferences[]" value="Meat"><span>Meat</span>
                   </label>
                </div>
                
                <div class="box seafood">
                   <label>
                      <input type="checkbox" name="preferences[]" value="Seafood"><span>Seafood</span>
                   </label>
                </div>
                
                <div class="box fruits">
                   <label>
                      <input type="checkbox" name="preferences[]" value="Fruits"><span>Fruits</span>
                   </label>
                </div>
                
                <div class="box vegetarian">
                   <label>
                      <input type="checkbox" name="preferences[]" value="Vegetarian"><span>Vegetarian</span>
                   </label>
                </div>
                
                  <div class="box junk">
                   <label>
                      <input type="checkbox" name="preferences[]" value="Junk"><span>Junk</span>
                   </label>
                </div>
                
                  <div class="box pasta">
                   <label>
                      <input type="checkbox" name="preferences[]" value="no"><span>Pasta</span>
                   </label>
                </div>
                
                </div>
        <input type="submit" value="Next">
        </form>
    </div>
   </body>
</html>
