body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    background-color: #fff8f5;
    background-size: cover;
}

h1 {
    font-size: 2em;
    color: darkorange;
    text-align: center;
}

.navbar {
    height: 4em;
    background-color: darkorange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 6em;
    position: sticky;
}

.navbar--buttons {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.button {
    padding-left: 3em;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
}

.button a:hover {
    text-decoration: underline;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.myAccount{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content {
    overflow: hidden;
    padding: 3em;
    height: 100%;
    margin-bottom: 6em;
}

.split {
    display: flex;
    width: 100%;
}

.left {
    flex: 1;
    padding-right: 10px;
}

.right {
    flex: 1;
    margin: 0 5px;
    overflow-y: auto;
}

.left .content--box,
.right .content--box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: auto;
    z-index: 1;
}

.content--box--inner {
    height: 10em;
    width: 10em;
    margin: 1em;
    background-color: orange;
    border: 2px;
    border-color: darkgray;
}

.shoppingList {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    max-width: calc(100% - 40px);
    height: 7em;
    border: 1px solid darkgray;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}

