@media screen and (max-width: 768px) {
    body {
        overflow: hidden;
        overflow-y: auto;
    }

    .content {
        overflow: auto;
    }

    th, td {
        padding: 8px;
    }

    button img {
        width: 16px;
        height: 16px;
    }

    th, td {
        white-space: nowrap;
    }
}

.stats {
    background-color: orange;
}
